/* 
Note:

*/

/* 
Những khái niệm cần học lại
vị trí tương đối: Relative
    không bị phụ thuộc vào một đối tượng nào khác, mà sẽ lấy chính nó làm góc toạ độ luôn ( phụ thuộc vào bản phân nó )
Hay nói cách khác nó sẽ đè lên bất cứ thuộc tính nào sau nó ( ví dụ như làm menu )

vị trí tuyệt đối: Absolute
    tìm thẻ cha gần nhất để làm position
 */
 /* ------------------------------------------------------------ */
 /* 
 Phân tích:
 1: vị trí
 2: kích thước ( chú ý đến chiều ngang)
 3: màu sắc
 4: kiểu dáng ( kiểu chữ,..., hình ảnh có hình thù ra sao )

 */

 /* reset: cách đơn giản nhất */
*
{margin: 0;padding: 0;box-sizing: border-box;}
html
{
    font-family:Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;
}

/* common: sử dụng các class chung khi có càng các thuộc tính chúng ta hãy chia chúng ra thành hàng và cột */

.text-while
{
    color: #fff !important;
}
.text-center
{
    text-align: center !important;
}

.row
{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after
{
    content: "";
    display: block;
    clear: both;
}
.col
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half
{
    width: 50%;
}
.col-full
{
    width: 100%;
}
.col-third
{
    width: 33.33333%;
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px !important;
}

.mt-32{
        margin-top: 32px !important;
}

.btn
{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover
{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}
.pull-right
{
    float: right !important;
}
/* Main */
#main
{
   
}
#header
{
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    position: fixed;
    z-index: 1;
}
#nav
{
    display: inline-block;
}
#nav, .subnav
{
    list-style-type: none;
}
#nav > li
{
    display: inline-block;
}

#nav li
{
    position: relative;
}

#nav .subnav
{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a
{
    color: #000;
    padding: auto;
    line-height: 38px;
    padding: 0 16px;
}

#nav > li > a
{
    /* chỉ ảnh hưởng đến thẻ a cấp 1 */
    color: #fff;
    text-transform: uppercase;
}
#nav li a
{
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover a
{
    /* bỏ thẻ này đi vì thẻ này hover sẽ ảnh hưởng đến cấp cha lẫn cấp con thay thể bằng câu lệnh dòng 79 bên dưới
    để css riêng cho thẻ a cấp 1    
    */
   
}
#nav > li:hover > a
{
    /* tác động lên thẻ li có thẻ a ở cấp 1 */
    color: #000;
    background-color: #ccc;
}
#nav .subnav li:hover
{
    /* css cho subnav ở dạng hover */
    color: #000;
    background-color: #ccc;

}
#nav li:hover .subnav
{
    display: block;
}
#nav .nav-arrow-down
{
    font-size: 10px;
    line-height: 46px;
}
#header .menu-mobile-btn{

    position: absolute;
    display: none;
    top: 0;
    right: 0;
}
#header .menu-mobile-btn,
#header .search-btn
{
    float: right;
    padding: 0 21px;
   
}

#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-mobile-btn:hover{
    background-color: #ccc;
}
#header .menu-mobile-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon
{
    font-size: 16px;
    color:#fff;
    line-height: 46px;
}
#slider
{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url(./Assets/pic2.jpg)top center/ cover no-repeat ;
}
#slider .text-content
{
    position: absolute;
    color: #fff;
    bottom: 48px;
    text-align: center;
    width: 100%;
}
#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-dexcription
{
    font-size: 15px;
    margin-top: 25px;
}
#content
{

}

#content .content-section
{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


#content .section-heading
{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading
{
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    font-style: italic;
    text-align: center;
}

#content .about-context
{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
}
#content .member-list
{
    margin-top: 32px;
    /* overflow: hidden; */
}

#content .member-name
{
    font-size: 16px;
    opacity: 0.6;
    font-style: italic;
    font-weight: bold;
}
#content .member-img
{
    margin-top: 15px;
    width: 154px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* About - Tour  */
.tour-section
{
    background-color: #000;
}
.tickets-list
{
    background-color: #fff;
    margin-top: 46px;
}
.tickets-list li
{
    list-style-type: none;
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 2px solid #ddd;
}
.tickets-list .sold-out
{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 7px;
    border-radius: 10px;
}
.tickets-list .quantity
{
    float: right;
    font-size: 15px;
    width: 24px;
    height: 22px;
    border-radius: 50%;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: -3px;
}
.places-list
{
    margin-top: 16px;
}

.place-img
{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.place-img:hover
{
    opacity: 0.6;
    background-color: #333;
}

.place-body
{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    border-radius: 5px;
}
.place-heading
{
    font-size: 15px;
    font-weight: 600;

}
.place-time
{
    margin-top: 15px;
    color: #757575;
    font-style: italic;      
}
.place-desription
{
    margin-top: 15px;
    line-height: 1.4;
}

/* contact form */
.contact-content
{
    margin-top: 48px;
    line-height: 1.5;
}
.contact-info
{
    font-size: 15px;
}
.contact-info i[class*="ti-"]
{
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #009688;
    opacity: 0.8;
}
.contact-info a:hover
{
    color: #f44336;
    opacity: 1;
}
.contact-form 
{
    font-size: 15px;
}
.contact-form .from-control
{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map */
.map-section img
{
    width: 100%;
}
#footer
{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list
{
    font-size: 24px;
}
#footer .social-list a
{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    padding: 0 3px;
}
#footer .copy-right a,
#footer .social-list a:hover
{
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}
#footer .copy-right
{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}

#footer .copy-right a:hover
{
    color: red
    
}



.modal{
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}

.modal-header
{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover{
    opacity: 0.8;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 1;
}

.modal-body{
    padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
#buy-tickets:hover{
    opacity: 0.8;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
    text-decoration: none;
}

@keyframes modalFaceIn{
    from{
        opacity: 0;
        transform: translateY(-140%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



/* tablet */
@media (max-width:1023px ) and (min-width:740px){
    
}
/* tablet và mobile */
@media (max-width: 1023px){
    .btn{
        padding: 15px 16px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-form .from-control{
        padding: 15px;
        font-size: 16px;
    }
    
    #footer .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }
    p.copy-right {
        font-size: 30px;
    }
} 
/* mobile */
@media (max-width: 739px ){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #nav{
        display: block; 
    }
    #nav > li
    {
        display: block;
    }
    #nav > li a{
        padding: 2 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }
    #header .menu-mobile-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    
    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-submit-btn{
        font-size: 16px;
    }
    .modal{
        width: 100%; 
        padding: 16px;
    }
    .modal-lable{ font-size: 20px;}
    
}   